<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
</head>
<body>
  <h1>Modal</h1>
  <button (click)="openWizardModal()">Open Modal</button>

  <!-- Modal placeholder-->
  <template #modalPlaceholder></template>

  <div>
    {{formText}}
  </div>
</body>
